/* Space out content a bit */
body {
  font-family: "Open Sans", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

.lil {
  font-size: 8pt;
  background-color: rgba(222, 91, 91, 0.71);
  vertical-align: middle;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #556BA7;
}
.nav-pills>li>a:hover {
  background-color: rgba(91, 192, 222, 0.24);
  color: #5BC0DE;
}

a {
  color: #556BA7;
}

h2 {
  font-weight: bold;
}

.media-body {
  font-size: 8pt;
}
.testimonials .media-body{
  font-size: 12px;
}


#img-container {
  text-align: center;
}

#jumbopic {
  height:400px;
  width:90%;
  background-image: url('klcopening.jpg');
  display: inline-block;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 850px) {
  .container {
    max-width: 800px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-image:url('class.jpg');
  background-size:cover;
  height: 250px;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
